div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  }
  div p {
    font-size: 2rem;
  }
  body {
    background-color: antiquewhite;
  }
  